doctype html
html(lang="en")
  head
    title= title
    block stylesheet
      link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css')
      link(rel='stylesheet', href='/css/font-awesome.min.css')
  body
    block content
    block script
