doctype html
html(lang="en")
  head
    title= title
    link(rel='stylesheet', href='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.css')
    link(rel='stylesheet', href='/css/join.css')
  body
    nav.navbar.navbar-default.navbar-static-top
      .container.view-nar
        .navbar-header
          a.navbar-brand(href='#')
            span Emergency Social Network
    .wrapper
      .form.center-block.glass
        div
          p.label Create New Account?
        br
        div
          p Username does not exist. Do you want to sign up with the username you just entered?
        br
        .button-holder
          .confirm
            button.btn.btn-primary.btn-block(type='submit') Confirm
          .cancel
            button.btn.btn-primary.btn-block(type='submit') Cancel

