extends base
block append stylesheet
  link(rel='stylesheet', href='/css/main.css')
block append content
  include navbar.jade
  .container
    .wrapper
      .panel.panel-default
        .panel-heading.text-center User Directory
        table.directorytable
          thead
            tr
              th #
              th Name
              th Status
              th Online
              th options
          tbody

        span.loadMoreSpan

block append script
  script(src='https://code.jquery.com/jquery-1.10.2.min.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  script(src='/script/showUserDirectory.js')
  script(src='/script/navigationBar.js')
