<!-- navbar -->
nav.navbar.navbar-default.navbar-static-top
  .container
    <!-- Brand and toggle get grouped for better mobile display -->
    .navbar-header
      button.navbar-toggle(type='button', data-toggle='collapse', data-target='#navbar')
        span.sr-only lists
        span.icon-bar
        span.icon-bar
        span.icon-bar
      a.navbar-brand(type='button')
        span Emergency Social Network
    <!-- Collect the nav links, forms, and other content for toggling -->
    #navbar.navbar-collapse.collapse
      .navbar-right
        ul.nav.navbar-nav#navbar-right
          li
            a(href='/welcome')#help
              span.fa.fa-book
              | 
              | Help
          li
            a(href='/news')#help
              span.fa.fa-newspaper-o
              | 
              | News
          li
            a(href='/searchInfo')#search-link
              span.fa.fa-search(style='font-size: 16px')#search-icon
              | 
              | Search
          li
            a(href='/userDirectory')#user-directory
              span.glyphicon.glyphicon-list
              | 
              | User Directory
          li
            a(href='/publicChat')#public-chat
              span.fa.fa-users
              | 
              | Public Chat
          li
            a(href='/notification')
              span.fa.fa-volume-up
              | 
              | Announcement
          li
            a(href='/privateChat/0')              
              span.fa.fa-bell-o(style='font-size: 16px')
                #notification.badge.badge-note
          li.dropdown
            a.dropdown-toggle(href='#', data-toggle='dropdown', role='button' aria-haspopup='true' aria-expanded='false')#user-setting
              span.glyphicon.glyphicon-user
            ul.dropdown-menu#nav-dropdown-list
              li
                a(href='#')#update-email
                  span.fa.fa-envelope-o
                  | 
                  | &nbsp Email
              li.divider(role="separator")
              li
                a(href='#', style='color: #9ccb19')#status-ok
                  i.fa.fa-check-circle
                  | &nbsp OK
              li
                a(href='#', style='color: #fcd116')#status-help
                  i.fa.fa-exclamation-triangle
                  | &nbsp Help
              li
                a(href='#', style='color: #ce4844')#status-emergency
                  i.fa.fa-plus-square
                  | &nbsp Emergency
              li.divider(role="separator")
              li.dropdown-header
                a(href='#')#logout
                  span.fa.fa-sign-out
                  | 
                  | Logout
