extends base
block append stylesheet
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/css/main.css')
block append content
  include navbar.jade
  .container
    .wrapper
      h3
        |Share News
      form#imageForm
        input(type="file" accept=".png, .jpg, .jpeg" capture="camera" style="display: none" onchange="changeColor()")#sendImageButton
     .wrapper.row.news-area
      .col-md-9.col-sm-12.col-xs-12
        .btn-group(role="group")#input
          button.btn.btn-default(type="button")#cancelButton
            i.glyphicon.glyphicon-remove
          label.btn-group(role="group" for="sendImageButton")
            button.btn.btn-default(type="button" onClick="$('#sendImageButton').click()")#uploadImageButton
              span.glyphicon.glyphicon-camera
          .btn-group(role="group")#news-btn-group
            button.btn.btn-default.dropdown-toggle(data-toggle='dropdown', aria-haspopup='true',  aria-expanded='false')#option-btn
                span.caret
                span(id='news-option', option='1')  Ok
              span.sr-only
            ul.dropdown-menu.dropdown-menu-right#dropdown-list
              li
                a(href='#', id='1') Ok
              li
                a(href='#', id='2') Help
              li
                a(href='#', id='3') Emergency
        .input-group#news-area
          textarea.form-control.custom-control(rows="4", style='resize:none;' placeholder='Share something...')#news-textarea
          span.input-group-addon.btn.btn-danger#submitNewsButton
            span.glyphicon.glyphicon-send(style="font-size: 25px;")
            
        #sendMap(style='padding-top:20px;')      
block append script
  script(src='https://code.jquery.com/jquery-1.10.2.min.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')
  script(src='/socket.io/socket.io.js')
  script(src='/libs/moment.min.js')
  script(src='/script/main.js')
  script(src='/script/sendNews.js')
  script(src='/script/navigationBar.js')
  script(async defer src='https://maps.googleapis.com/maps/api/js?key=AIzaSyAP2f18eDpFZCz8zsfygQ4tj0V5Qk-xlbc&callback=initMap')
