extends base
block append stylesheet
  link(rel='stylesheet', href='/css/style.css')
  link(rel='stylesheet', href='/css/font-awesome.min.css')
block append content
  include navbar.jade
block append script
  script(src='https://code.jquery.com/jquery-1.10.2.min.js')
  script(src='http://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/js/bootstrap.min.js')


