.search-area, .result-area {
    width: 70%;
}

.pagination {
    margin-top: 0;
    align-items: top;
    display: flex;
    justify-content: center;
}

.message-header {
    margin: 5px 0;
}

.border {
    border-left-width: 5px;
}

h1 {
    text-align: center;
}
