.modal-backdrop {
background-color: white;
box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.2), 0 5px 5px 0 rgba(0, 0, 0, 0.24);
}

.modal {
  text-align: center;
}

@media screen and (min-width: 768px) { 
  .modal:before {
    display: inline-block;
    vertical-align: middle;
    content: " ";
    height: 100%;
  }
}

.modal-dialog {
  display: inline-block;
  text-align: left;
  vertical-align: middle;
}

.welcomeStatusTable {
  text-align: center;
  border: 1px solid black;
}


.statusTableHeader{
  text-align: center;
  border: 1px solid black;
}

.statusTableIcon{
  border: 1px solid black;
}

.statusTableInfo{
  border: 1px solid black;
}